AN*
preprocessing/generateSignal/EXO-MCsampleProductions/
preprocessing/generateSignal/genproductions/
preprocessing/processMiniAOD/cache/
preprocessing/processMiniAOD/CMSSW*
test/
hists/*
plots/*
*.code-workspace
*.pyc
*.pkl
.DS_Store
