AN*
preprocessing/generateSignal/EXO-MCsampleProductions/
*genproductions/
preprocessing/processMiniAOD/cache/
preprocessing/processMiniAOD/CMSSW*
test/
hists/*
plots/*
*.code-workspace
*.pyc
*.pkl
*.pkl.gz
.DS_Store
*CMSSW*
*.parquet
*.root
*.csv
*.json