AN*

*genproductions/
*cache/*
preprocessing/processMiniAOD/CMSSW*
test/
hists/*
plots/*
*.code-workspace
*.pyc
*.pkl
*.pkl.gz
.DS_Store
*CMSSW*
*.parquet
*.root
*.csv
*.json
env.tar.gz
triphoton-env.tar.gz
preprocessing/tools/EXO-MCsampleProductions
